/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Contenedor centrado del formulario */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-form {
    background-color: #444;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
  }
  
  /* Estilos para el título del formulario */
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
  }
  
  /* Estilos de los inputs y labels */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #ccc;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #555;
    color: #fff;
    outline: none;
  }
  
  input::placeholder {
    color: #bbb;
  }
  
  /* Botón del formulario */
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #666;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #777;
  }
  
  /* Cambiar el estilo del input de contraseña para que sea asteriscos */
  input[type="password"] {
    font-family: 'password', sans-serif; /* Fuente oculta */
  }
  